body {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 10px 20px;
  background-color: #66f;
  color: #fff;
}

.name {
  margin: 10px;
  padding: 5px 20px;
  font-size: 4.0em;
  border: 1px solid #333;
  box-shadow: 0px 0px 3px #666;
}

.character {
  display: none;
}

.copyright {
  text-align: right;
  margin-right: 20px;
  font-size: 0.5em;
}
